<div class="nv-bar">
  <!-- <div class="nv-header text-center">
    <a class="nv-brand logo-right" href="javascript:void(0)"><i class="mdi-image-timelapse"></i>Pluto</a>
  </div> -->
  <ul style="padding-top: 60px;">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/Testimonial']">Testimonial</a></li>
        <li><a [routerLink]="['/Screenshots']">Screenshots</a></li>
        <li><a [routerLink]="['/contact']">contact us</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
  </ul>
 <button class="close-button"(click)="closeBtnClicked()">Close Menu</button>
</div>















