<div [ngClass]="classNames" role="navigation" data-spy="affix" data-offset-top="200">
  <div class="container">
    <div class="navbar-header">
      <a class="logo-left " [routerLink]="['/']"><i class="mdi-image-timelapse"></i>Pluto</a>
    </div>
    <div class="navbar-right">
      <button class="menu-icon" (click)="toggleMenu()"  id="open-button">
        <i class="mdi-navigation-menu"></i>
      </button>             
    </div>
  </div>
</div>

<app-navigation [@slideInOut]="menuState"></app-navigation>